body{
    background-color: rgb(97, 90, 89);
}
.search{
    display: flex;
    align-items: center;
    
}
hr{
    height: 2px;
    width: 80%;
    height: 2px;
    width: 80%;
    background-color: #ddd;
    border: none;
}
div{
    background-color:white;
}

h2{
    background-color: rgb(197, 186, 166);
    border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.ferst{
    width: 83px;
    height: 90px;
    border-radius: 50%;
    border: solid;
    color: wheat;border-radius: 50%;

}
.second{
    width: 144px;
    height: 110px;
    border-radius: 50%;
    border: solid;
    color: black;border-radius: 50%;
}
.therd{
    width: 83px;
    height: 90px;
    border-radius: 50%;
    border: solid;
    color: wheat;border-radius: 50%;

}
.forth{
    width: 83px;
    height: 90px;
    
    border: solid;
    color: wheat;
    

}
.deuxchose{
    padding-bottom: 1%;
    display: flex;
    

}