body{
    background-color: rgb(97, 90, 89);
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    align-items: center;
}
hr{
    height: 2px;
    width: 80%;
    height: 2px;
    width: 80%;
    background-color: #ddd;
    border: none;
}
.continner{
    background-color:white;
}
img{
    height: 36px;
}
.deuxchose{
    background-color: blanchedalmond;
    display:flex ;
    justify-content: space-around;
}
h2{
    background-color: rgb(184, 180, 174);
    border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
 .allicon{
     

 }
 .first-para{
     display: flex;

 }