body{
    background-color: rgb(97, 90, 89);
}
.titre{
	display: flex;
    align-items: center;
}
hr{
	width: 90%;
	height: 1px;

}

.myseaction{
    background-color:white;
    
}
.myButton {
	background-color:#828883;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#fffdfd;
	font-family:Arial;
	font-size:18px;
	padding:20px 71px;
	text-decoration:none;
	text-shadow:0px 1px 11px #90998f;
}
.myButton:hover {
	background-color:#8c8f8a;
}
.myButton:active {
	top:1px;
}
.Button {
	background:linear-gradient(to bottom, #7892c2 5%, #0c73f0 100%);
	background-color:#7892c2;
	border-radius:12px;
	border:1px solid #1d4ee0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font: size 18;px;
	padding:17px 76px;
	text-decoration:none;
	text-shadow:-1px 0px 13px #283966;
}
.Button:hover {
	background:linear-gradient(to bottom, #0c73f0 5%, #7892c2 100%);
	background-color:#0c73f0;
}
.Button:active {
	top:1px;
}
.toton {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:12px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:17px 76px;
	text-decoration:none;
	text-shadow:-1px 0px 13px #2f6627;
}
.toton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.toton:active {
	top:1px;
}

.paragraphe{
	border-radius: 33px;
    background-color: gray;
    width: 3rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;}
